body {
  padding: 0;
  margin: 0;
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

textarea {
  white-space:nowrap;
  overflow:scroll;
  font-family: monospace;
  font-size: inherit;
}

button {
  font-size: inherit;
}

header {
  font-size: 2rem;
}

.app {
  background-color: #282c34;
  min-height: calc(100vh - 2rem);
  font-size: calc(1rem);
  color: white;
  padding: 2rem 3rem;
}
