:root {
  --main-padding: 0rem 2rem;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

textarea {
  white-space:nowrap;
  overflow:scroll;
  font-family: monospace;
  font-size: inherit;
}

button {
  font-size: inherit;
}

header {
  font-size: 2rem;
  padding: var(--main-padding);
  padding-top: 1rem;
}

.app {
  background-color: rgb(5,41,98);
  min-height: calc(100vh);
  font-size: calc(1rem);
  color: white;
}
