#error {
    color: red;
    font-style: italic;
}

#controls-container, #parse-button-container {
    padding: var(--main-padding);
}

#controls {
    margin-top: 1rem;
}

.request {
    width: 100%;
}

input ~ label {
    margin-left: 0.5rem;
}

.light {
    color: darkgray;
    font-size: 10pt;
    font-style: italic;
}

.request-container {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

.request-container > div {
    margin-right: 0.5rem;
    font-style: italic;
}

#parse-button-container > button {
    height: 2rem;
}