#error {
    color: red;
    font-style: italic;
}

#controls-container {
    padding: var(--main-padding);
}

#controls {
    margin-top: 1rem;
}

.request {
    width: 100%;
    word-break: break-all;
    white-space: pre-wrap;
}

input ~ label {
    margin-left: 0.5rem;
}

.light {
    color: darkgray;
    font-size: 10pt;
    font-style: italic;
}

.request-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem 0rem;
}

.request-container > div {
    margin-bottom: 0.5rem;
}

#parse-button-container > button {
    margin-top: 1rem;
    width: 6rem;
    height: 2rem;
    background: #4CAF50;
    border: none;
    color: rgba(255, 255, 255, 1);
    font-weight: normal;
    font-family: inherit;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
