.output, #diff {
    width: 100%;
}

.output-container {
    margin-left: 1.25rem;
    margin-top: 1rem;
}

.output-request-container {
    display: flex;
    align-items: center;
}

.diff-container {
    margin-left: 1.25rem;
    margin-top: 1rem;
}

.diff-container > hr {
    margin: 1rem 0;
}
