.output, #diff {
    width: 100%;
}

.output-container > hr {
    margin-left: 1.25rem;
    margin-top: 1rem;
}

.output-request-container {
    display: flex;
    align-items: center;
    margin-left: 0.25rem;
    margin-top: 1rem;
}

.output-request-container > div {
    margin-right: 0.5rem;
    font-style: italic;
}

.diff-container {
    margin-left: 1.25rem;
    margin-top: 1rem;
}

.diff-container > hr {
    margin: 1rem 0;
}
